.bg-gradient-primary {
    background-color: #1D5C63 !important;
    background-image: none;
}


.sidebar.toggled {
    width: 4.5rem!important;
}

.sidebar.toggled .sidebar-heading {
    text-align: center;
    padding: 0rem 0rem;
}

.sidebar.toggled .nav-item .nav-link {
    padding: 0.25rem 0.25rem!important;
    width: 4.5rem!important;
}

ul.sidebar {
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
}


.input-group:focus {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
}


.form-control {
    font-size: 0.9rem;
}

.form-control:focus {
    border: 1px solid #5264AE !important;
    /* outline: none !important; */
    box-shadow: none !important;
    background: none;
}

.form-control-custom~label {
    color: rgb(82, 81, 81);
    position: absolute;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 30px;
    top: 7px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.form-control-custom:focus~label, input.form-control-custom:not(:placeholder-shown)~label, textarea.form-control-custom:not(:placeholder-shown)~label, select.form-control-custom:valid~label, input[type="datetime-local"].form-control-custom:valid~label {
    position: absolute;
    color: #5264AE;
    font-size: 0.8rem;
    /* left:30px; */
    left: 25px !important;
    top: -10px !important;
    padding: 0px 5px;
    background-color: white !important;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.btn {
    margin-right: 5px;
    font-size: 0.8rem !important;
}

table.table th,
table.table td {
    font-size: 0.85rem;
    margin: 0.1rem !important;
    padding: 0.75rem 0.1rem !important;
}

div.dataTables_info {
    font-size: 0.85rem;
}

div.dataTables_length label,
div.dataTables_filter label {
    font-size: 0.85rem;
}

ul.pagination {
    margin-top: 0.3rem !important;
}

ul.pagination li {
    font-size: 0.85rem;
}

th.col-width-1 {
    width: 5rem !important;
}
th.col-width-2 td.col-width-2 {
    width: 20px !important;
}

#dataTable td {
    overflow-wrap: break-word!important;
}

div.row p {
    overflow-wrap: anywhere;
}
.card-body {
    color: #000000 !important;
}

span.custom-tab-label {
    font-size: 0.8rem!important;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: #1D5C63;
    font-weight: bold;
    background-color: transparent;
    border: none;
    border-bottom: 0.25rem solid #1D5C63;
    /*border-color: #dddfeb #dddfeb #fff;*/
}

.nav-tabs .nav-link {
    border: none;
    /*border-top-left-radius: 0.35rem;*/
    /*border-top-right-radius: 0.35rem;*/
}

a.nav-link {
    color: #808080;
    font-size: 0.95rem;
}

.custom-text-title {
    color: #1D5C63!important;
}

nav-link-custom {
	color: #666;
  position: relative;
  display: inline-block;
	padding-bottom: 2px;
}
nav-link-custom:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 40px;
    height: 7px;
    background: #f00;
    transition: 0.4s ease all;
    -moz-transition: 0.4s ease all;
    -webkit-transition: 0.4s ease all;
    width: 0;
    bottom: 0;
}

nav-link-custom:hover:after {
	width: 400px;
    margin-left: -200px;
}

#dataTable-daterangepicker {
    display: flex;
    align-items: left;
    
}

#input__daterangepicker {
    margin: 0;
    padding: 3 12 !important;
}